.topnav {
    background-color: #837A75;
    overflow: hidden;
    position: fixed; 
    width: 90%;
    margin-right: -50%;
    z-index: 9; 
    
    vertical-align:middle;
    padding: 10px 10px;
    transition: 0.1s;
  }
  
.topnav a {
    display:inline-block;
    vertical-align:middle;
   
    color: #f2f2f2;
    text-align: top;
    padding: 14px 16px;
    text-decoration: none;    
    font-size: 18px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    color: black;
}
.topnav #name {
    display:inline;
    vertical-align:middle;
    font-size: 30px;
    font-weight: bold;
    transition: 0.1s;
}

.topnav #contact {
    float: right;
}


.skills {
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 18px;
    
    padding-top: 100px;
}

.Work {
    background-color: #E9E9E9;
    color: white;
    font-size: 18px;
    padding-top: 100px;
}

.skills a {
    float: center;
    color: #000000;
    text-align: center;
    
    font-size: 43px;
}